<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    img {
      border-radius: 100%;
      position: relative;
      top: -260px;
      left: -220px;
    }
    </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',    filename='CSS/style.css') }}">
  <title>ระบบตรวจสอบ</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li class="nav-item active"><a class="nav-link" href="/index" data-after="/Home">Home <span class="sr-only"></span></a></li>
            <li class="nav-item active"><a class="nav-link" href="#services" data-after="/Service">Services</a></li>
            <li class="nav-item active"><a class="nav-link" href="/about" data-after="/About">About</a></li>
            <li class="nav-item active"><a class="nav-link" href="/contact" data-after="/Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <a href="/index">
      <img src="/static/images/logohot.png" alt="Girl in a jacket" style="width:250px;height:250px;">
    </a>
      <div>
        <h2>ยินดีต้อนรับเข้าสู่เว็บไซต์ <span></span></h2>
        <h2>We are here for your care 24/7. <span></span></h2>
        <a href="/login" type="button" class="cta">ลงชื่อเข้าใช้</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <script src="./app.js"></script>
  {% block content %}
    {% endblock %}
</body>

</html>